.gallery {
    text-align: center;
}
#main-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.thumbnail {
    width: 100px;
    height: 75px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}
.thumbnail:hover {
    opacity: 1;
    border: 2px solid blue;
}
